@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

h1{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    font-weight: bold;
    margin-top: 70px;
}

.viagensSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
}

.spaceEuropa {
    display: flex;
    border: rgba(128, 128, 128, 0.192) solid 1px;
    width: 1000px;
    gap: 20px;
    border-radius: 10px;
}

.spaceEuropa {
    --borderWidth: 4px;
    background: #fff;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .spaceEuropa:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #034159, #025951, #02735E, #038C3E, #0CF25D);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.spaceEuropa img{
    width: 300px;
    border-radius: 4px 0px 0px 4px;
}

.descricaoViagem{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.descricaoViagem h4{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 25pt;
}

.descricaoViagem p{
    font-family: 'Signika Negative', sans-serif;
}

.descricaoViagem button{
    border: none;
    width: 150px;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgba(255, 255, 0, 0);
    color: #38ef7d;
    font-size: 20pt;
}

@media (max-width: 1060px) {
    .spaceEuropa{
        max-width: 900px;
    }
}

@media (max-width: 932px) {
    .spaceEuropa{
        max-width: 800px;
    }
}

@media (max-width: 832px) {
    .spaceEuropa{
        display: block;
        max-width: 294px;
    }

    .spaceEuropa img{
        max-width: 292px;
    }

    .descricaoViagem {
        align-items: center;
    }

    .descricaoViagem p{
        text-align: center;
    }


}