.div__footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(219, 218, 218);
    height: 60px;
}

.div__footer p{
    margin-top: auto;
    font-size: 14pt;
}

.div__footer ul{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.div__footer ul li{
    list-style-type: none;
    font-size: 20pt;
    gap: 20px;
}

.div__footer ul li i{
    display: flex;
}

.div__footer ul li i:hover{
    cursor: pointer;
    color: #38ef7d;
}

@media (max-width: 300px) {
    .div__footer{
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div__footer p{
        text-align: center;
    }

    .div__footer ul{
        margin-left: -25px;
    }
}

